body, html{
    height:100%;
    width:100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

.header{
    height:60%;
    width:100%;
    background-image: url("images/header-image.jpeg");
    background-repeat: no-repeat;
    background-size:cover;

    min-height:100%;
   

    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
cta{
  padding-left:11%;
  z-index:1;
  width:5%;
}
h1{
  margin-left:12%;
  color: #bfd5e7;
  padding-bottom:0.2%;
  width:22%;
}

@media (max-width: 768px){
  h1{
    margin-top:0;
    padding-left:8%;
    width:50%;
  }
}
/* .fab{
  color:#9fd7e9;
} */
.fab:hover{
  color:#ff0fa3;
}

.logo-image{
    display:block;
    width:75%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-top:6%;

    z-index:8;
  
    
}


  .rain{
    height:100%;
    min-height:100%;
    background-image: url("images/rain.png");
  
    animation: rain .3s linear infinite;
    z-index: -1;
}
@media (max-width: 768px) {
  .rain{
 
    background-size: 190px;
    animation: rain .5s linear infinite;
  }
}
.rain:before{
    content: '';
    position:absolute;
    width:100%;
    height:100%;
    background: #fff;
    animation: lightning 5s linear infinite;
    opacity:0;
    z-index:-1;
}

@keyframes rain{
    0%{background-position: 0% 0%;}
    100%{background-position: 20% 100%}
}

@keyframes lightning{
  0%{opacity:0;}
  10%{opacity:0}
  11%{opacity:1}
  14%{opacity:0}
  20%{opacity:0}
  21%{opacity:1}
  24%{opacity:0}
  
}


@media (min-width: 768px) {
    .logo-image{
        height:auto;
        width: 44%;;
        margin-left:4%;
        padding-top:7%;
        z-index:8;
  }
  .header{
    height:100%;
    width:100%;
    min-height:90%;
  }

  
}
  

.logo{


animation:color-change 25s linear infinite;
z-index:8;

}

@keyframes color-change
{
    0%, 100%
    {
        filter:hue-rotate(0deg);
    }
    50%
    {filter: hue-rotate(360deg)}
}


.bounce {
    animation: bounce 2s;
  }
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }



  /* hamburgermenu */


  body
  {
    margin: 0;
    padding: 0;
    
    
    background: #232323;
    color: #ff0fa3;
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-weight:bold;
    text-shadow: 2px 2px #241153;
  }
  
  #menuToggle
  {
    display: block;
    position:fixed;
    top: 50px;
    right: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #ff0fa3;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: #bfd5e7;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }
  

  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #ff0fa3;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: ##ff0fa3;
  }
  

  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  

  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 750px;
    padding: 50px;
    padding-top: 125px;
    
    
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    width: 20rem;
    height: 100rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
  }

  @media (max-width: 768px) {
    #menu{
    width:150px;}
  }
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  

  #menuToggle input:checked ~ ul
  {
    transform:translateX(-1000px);
  }
  @media (max-width: 768px) {
    #menuToggle input:checked ~ ul{
      transform:translateX(-850px);}
  }









  /* animation */


.about{
  position:absolute;
  display:flex;
  
  margin-left: 15%;
  margin-right: auto;
    height:70%;
    width:70%;
    max-height:70%;
    margin-top:7.5%;
    border-radius:40px;
   z-index:0;
   -webkit-font-smoothing: antialiased;


   


   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   
   background-color: rgba(255, 255, 255, .15);
   
   backdrop-filter: blur(8px);
}

@media (max-width: 768px) {
  .about{
    margin-top:40%;
    height:65%;
    overflow-y:hidden;
  }
}



.apps{
  position:absolute;
  display: block;
  margin-left: 15%;
  margin-right: auto;
    height:70%;
    width:70%;
    
    margin-top:7.5%;
    border-radius:40px;
   z-index:0;
   -webkit-font-smoothing: antialiased;


   


   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   
   background-color: rgba(255, 255, 255, .15);
   
   backdrop-filter: blur(8px);
}

@media (max-width: 768px) {
  .apps{
    margin-top:40%;
    height:65%;
  }
}


.contact{
  position:absolute;
  display: block;
  margin-left: 15%;
  margin-right: auto;
    height:70%;
    width:70%;
    
    margin-top:7.5%;
    border-radius:40px;
   z-index:0;
   -webkit-font-smoothing: antialiased;


   


   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   
   background-color: rgba(255, 255, 255, .15);
   
   backdrop-filter: blur(8px);
}

@media (max-width: 768px) {
  .contact{
    margin-top:40%;
    height:65%;
  }
}




body, html {
    height: 100%;
  }
  







  /* buttons */
 
  button {
    background: rgba(254, 1, 154, .2);
    color: white;
    
    text-shadow: 1px 1px black;
    border: 5px solid;
    border-color:whitesmoke;
    border-radius: 3px;
    /* box-shadow:1px 1px black; */
    font-size: 40px;
    padding: 5px 5 px;
    cursor: pointer;
    transition: transform 0.25s;
  }

  /* @media (max-width: 768px){
    button{
      fo
      padding: 3px 3px;
    }
  } */
  
  button:hover {
    border-color: #ff0fa3;
    color: #fff1e6;
    box-shadow: 0 0.5em 0.5em -0.4em #ff0fa3;
    transform: translateY(-0.25em);
  }
  
  button:active {
    box-shadow: 2px 2px 1em #ff0fa3;
  }
  
  button:focus {
    outline: 0;
  }
  











  .about-header{
    position:absolute;
  display: block;
  font-size:4vw;
  margin-left: 50%;
  margin-right: auto;
   
    color:#bfd5e7;
    margin-top:4.5%;
    
   z-index:0;
  }
  @media (max-width: 768px) {
    .about-header{
      font-size:10vw;
      margin-left:30.25%;;
      margin-right:auto;
      
    }
  }
  


  .about-sub{
    position:absolute;
  display: block;
  /* font-size:1.5vw; */
  font-size:150%;
  margin-left: 50%;
  margin-right: 17.5%;
   color:white;
   text-shadow: 1px 1px black;
    
    margin-top:12.5%;
    
   z-index:0;
   line-height:160%;
  }
  @media (max-width: 950px){
    .about-sub{
    font-size:115%;
  }
}

  @media (max-width: 768px) {
    .about-sub{
      font-size:20px;
      line-height:6vw;
      margin-left:20%;
      margin-right:13.5%;
      margin-top:20.5%;
      /* word-wrap: break-word;
      white-space: nowrap;
      
      text-overflow: ellipsis;  */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }