body, html{
    padding:0 0 0 0;
    
    background-color: #050A30;
}





.header{
    padding:0 0 0 0;
}
.header-row{
    padding:0 0 0 0;
    margin:0 0 0 0;
    /* width:100%; */
}

/* images */
.logo{
    padding:2% 0 0 0;
    overflow:hidden;
}
.phone{
    padding:0 0 0 0;
    overflow:hidden;

}
.phones{

    overflow-y:hidden;
}






/* animations */
.bounce {
    animation: bounce 2s;
  }
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }


  /* navbar */
  .bg-blue{
    background-color:#253439
}
